html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template: 1fr / 1fr 4fr;
}

#sidebar {
    background-color: #0093F4;
    cursor: default;
    display: flex;
    flex-direction: column;
}

#sidebar :last-child {
    margin-top: auto;
}

#lines {
    margin-top: 3rem;
}

#menu-btns-time li, #projects-menu li {
    list-style-type: none;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: white;
    margin: 1rem;
}

#btn-add-project {
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: white;

    display: flex;
    margin-top: auto;
    margin-left: auto;

    margin-right: 2rem;
    margin-bottom: 36;

    justify-self: flex-end;
}

#main {
    background-color: #D4D6F1;
    display: flex;
    flex-direction: column;
}

#main div:last-of-type {
    margin-top: auto;
}

#div-title {
    display: flex;
    justify-content: center;
    cursor: default;
}

#title {
    font-family: "Faster One", system-ui;
    font-weight: 400;
    font-size: 48px;
    color: #F51414;
    line-height: 0.8;
    margin: 3rem;
    margin-bottom: 1rem;
}

#todos {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    padding-top: 0;
    margin-top: 1rem;
}

.todo {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border: solid #F51414 1px;
    margin-bottom: 1rem;
}

.todo-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-header-part {
    display: flex;
    align-items: center;
}

.todo-header-part * {
    margin: 1rem;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 600;
}

.icon {
    width: 1rem;
    height: 1rem;
}

.todo-description {
    display: none;
    padding-top: 0;
    border-top: solid #F51414 1px ;
}

.todo-description > div * {
    margin: 1rem;
}

.todo-description p {
    margin: 1rem;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
}

.todo-description textarea {
    resize: none;
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
}

.todo-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button-priority {
    background-color: #0093F4;
    color: white;
    border-style: none;
    width: 4rem;
    height: 28px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 300;
}

#no-todos-message {
    align-self: center;
    font-family: "Kumbh Sans", sans-serif;
}

#bottom-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5rem;
    cursor: default;
}

#btn-add, #form-btns * {
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #0093F4;
}

#form-add {
    display: grid;
    grid-template: 1fr 2fr 1fr 1fr 1fr 1fr/ 1fr 3fr;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 1rem;
}

#form-add label {
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 300;
    font-size: 36px;
}

#form-add input, #form-add #description, #form-add select {
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
    border-top: none;
    border-right: none;
    border-width: 1px;
    background-color: #D4D6F1;
    padding: 8px;
}

#form-add .priority-buttons {
    display: flex;
    align-items: center;
}

#form-add .priority-btn {
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    width: 53px;
    height: 32px;
    margin-right: 20px;
    background-color: white;
    border: solid #0093F4 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form-add .selected-btn {
    color: white;
    background-color: #0093F4;
}

#form-add .div-select-project {
    display: grid;
    grid-template: 1fr / 2fr 1fr
}

#form-add .div-add-img {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

#form-add .btn-add-project {
    width: 2rem;
}

.form-btns {
    grid-column: 2 / 3;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.form-btns * {
    font-family: "Kumbh Sans", sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-size: 36px;
    margin: 0;
    margin-left: 2rem;
}