html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template: 1fr / 1fr 4fr;
}

#sidebar {
    background-color: #0093F4;
    cursor: default;
}

#lines {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#side-menu {
    margin-top: 4rem;
}

#side-menu li, #projects-menu li {
    list-style-type: none;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: white;
    margin: 1rem;
}

#main {
    background-color: #D4D6F1;
    display: grid;
    grid-template: 1fr 5fr / 1fr;
}

#div-title {
    display: flex;
    justify-content: center;
    cursor: default;
}

#title {
    font-family: "Faster One", system-ui;
    font-weight: 400;
    font-size: 48px;
    color: #F51414;
    line-height: 0.8;
    margin: 3rem;
    margin-bottom: 1rem;
}

#todos {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    padding-top: 0;
    margin-top: 1rem;
}

.todo {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border: solid #F51414 1px;
    margin-bottom: 1rem;
}

.todo-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-header-part {
    display: flex;
    align-items: center;
}

.todo-header-part * {
    margin: 1rem;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 600;
}

.icon {
    width: 1rem;
    height: 1rem;
}

.todo-description {
    display: none;
    padding-top: 0;
    border-top: solid #F51414 1px ;
}

.todo-description > div  * {
    margin: 1rem;
}

.todo-description p {
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
}

.todo-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button-priority {
    background-color: #0093F4;
    color: white;
    border-style: none;
    width: 53px;
    height: 28px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 300;
}